.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 25%;
    flex-wrap: nowrap;
}

.navbar > div:nth-child(2) div{
    color: rgb(0, 102, 255);
    text-decoration: solid;
    font-weight: 500;
}

.navbar > div:nth-child(2) div:hover{
    cursor: pointer;
}

.navbar h1:hover{
    cursor: pointer;
}

.navbar h1{
    align-items: center;
    color: navy;
    font-style: italic;
    font-size: xx-large;
    font-weight: 600;
}